<!-- @format -->
<table>
    <tr>
        <td>
            <aside>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="1" routerLinkActive="link-success" [routerLinkActiveOptions]="{ exact: true }">view1</a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            routerLink="2"
            routerLinkActive="link-success"
            [routerLinkActiveOptions]="{ exact: true }"
            >View2</a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            routerLink="3"
            routerLinkActive="link-success"
            [routerLinkActiveOptions]="{ exact: true }"
            >View3</a
          >
        </li>
      </aside>
    </td>
    <td>
      <router-outlet></router-outlet>
    </td>
  </tr>
</table>