<!-- @format -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" routerLinkActive="link-success" [routerLinkActiveOptions]="{ exact: true }">Home</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/manage"
          routerLinkActive="link-danger"
          [routerLinkActiveOptions]="{ exact: true }"
          >Manage</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/about']"
          [queryParams]="{ key: 'lklk' }"
          fragment="ab"
          routerLinkActive="link-success"
          [routerLinkActiveOptions]="{ exact: true }"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/login"
          routerLinkActive="link-success"
          [routerLinkActiveOptions]="{ exact: true }"
          >Login</a
        >
      </li>
      <li class="nav-item active">
        <button class="btn btn-primary" (click)="onLogOut()">Log Out</button>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>