.c1 {
    background-color: #f19d9d;
    color: rgb(12, 12, 12);
}

.c2 {
    background-color: #f0cd8e;
    color: rgb(12, 12, 12);
}

.c3 {
    background-color: #c1e9c1;
    color: rgb(14, 13, 13);
}