<!-- @format -->

<form [formGroup]="cardsForm" (ngSubmit)="onSubmit()">
    <fieldset id="field" style="border: 3px solid black">
        <legend for="field">Add Cards</legend>
        <div class="form-group">
            <label>Title:</label>
            <input type="text" class="form-control" formControlName="title" />
            <div *ngIf="_cardsForm['title'].errors && formSubmited" class="alert alert-danger">
                <div *ngIf="_cardsForm['title'].errors?.['required'] && (_cardsForm['title'].touched || formSubmited)" class="text-red-400">
                    Title is required
                </div>
                <div *ngIf="_cardsForm['title'].errors?.['maxlength'] && (_cardsForm['title'].touched || formSubmited)" class="text-red-400">
                    Title is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Notes:</label>
            <input type="text" class="form-control" formControlName="notes" />
            <div *ngIf="_cardsForm['notes'].errors && formSubmited" class="alert alert-danger">
                <div *ngIf="_cardsForm['notes'].errors?.['required'] && (_cardsForm['notes'].touched || formSubmited)">
                    Notes is required
                </div>
                <div *ngIf="_cardsForm['notes'].errors?.['maxlength'] && (_cardsForm['notes'].touched || formSubmited)">
                    Notes is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Status:</label>
            <input type="checkbox" formControlName="status" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary" #addBtn>add card</button
      >&nbsp;
      <button class="btn btn-primary" (click)="clearForm()">clear form</button>
        </div>
    </fieldset>
</form>

<app-card-list [cardsArray]="cardsArray" (editCardEvent)="editCard($event)" (deleteCardEvent)="deleteCard($event)"></app-card-list>
<router-outlet></router-outlet>