
        #round{
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
        #para{
            text-align: center;
        }
        .image{
            position: relative;
            top: 20px;
            left: 80px;
        }
        .main{
            width: 212px;
            height: 312px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        #tab{
            position:relative;
            top: 20px;
            left: 300px;
        }
        .name{
            position: relative;
            left: 70px;
        }
        #head,#p{
            text-align: center;
        }
        
    