<!-- @format -->

<!-- <div class="errorBox" class="alert alert-danger" *ngIf="showErrorBox">
    <div #errorBox></div>
</div>
<div class="container card">
    <form>
        <div class="form-group">
            <label for="name">Product Name:</label>
            <input #productName type="text" id="name" maxlength="256" placeholder="Product Name" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="rate">Product Rate:</label>
            <input #productRate type="number" id="rate" placeholder="Product Rate" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="quantity">Product Quantity:</label>
            <input #productQuantity type="number" id="quantity" placeholder="Product Quantity" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Product Color:</label>
            <input type="color" value="#e66465" #red (click)="setColor(red)" />
        </div>
        <div class="form-group">
            <label for="lotSize">Product Lot Size:</label>
            <input #productLotSize type="number" id="lotSize" placeholder="Product Lot Size" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="description">Product Description:</label>
            <textarea #productDescription type="text" id="description" maxlength="512" placeholder="Product Description" class="form-control" required></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" (click)="validate($event)">
        add product
      </button>
        </div>
    </form>
</div> -->
<div class="container card">
    <form [formGroup]="productForm" class="form-group" (ngSubmit)="onSubmit()">
        <div class="form-group">
            Product Name:
            <input type="text" formControlName="name" class="form-control" />
            <div class="invalid-box">
                <div *ngIf="_productForm['name'].errors?.['required'] && (_productForm['name'].touched || formSubmited)">
                    required
                </div>
                <div *ngIf="_productForm['name'].errors?.['maxlength']">
                    maximum length is 256 characters.
                </div>
            </div>
        </div>
        <div class="form-group">
            Product Rate:
            <input type="number" formControlName="rate" class="form-control" />
            <div class="invalid-box">
                <div class="invalid-box" *ngIf="_productForm['rate'].errors?.['required'] && (_productForm['rate'].touched || formSubmited)">
                    required
                </div>
                <div *ngIf="_productForm['rate'].errors?.['min']">
                    rate should be minimum 1
                </div>
            </div>
        </div>
        <div class="form-group">
            Product Quantity:
            <input type="number" formControlName="quantity" class="form-control" />
            <div class="invalid-box">
                <div *ngIf="_productForm['quantity'].errors?.['required'] && (_productForm['quantity'].touched || formSubmited)">
                    required
                </div>
                <div *ngIf="_productForm['quantity'].errors?.['min']">
                    quantity should be minimum 1
                </div>
                <div *ngIf="_productForm['quantity'].errors?.['max']">
                    maximum quantity is 999
                </div>
            </div>
        </div>
        <div class="form-group">
            Product Color:
            <input type="color" formControlName="color" class="form-control" />
            <div class="invalid-box" *ngIf="_productForm['color'].errors?.['required'] && (_productForm['color'].touched || formSubmited)">
                required
            </div>
        </div>
        <div class="form-group">
            Product LotSize:
            <input (keyup)="lotSizeValidator()" type="number" formControlName="lotsize" class="form-control" />
            <div class="invalid-box">
                <div *ngIf="_productForm['lotsize'].errors?.['required'] && (_productForm['lotsize'].touched || formSubmited)">
                    required
                </div>
                <div *ngIf="_productForm['lotsize'].errors?.['min']">
                    lot size should be minimum 1
                </div>
                <div *ngIf="lotSizeValidator()">
                    lot size should not be more than quantity
                </div>
            </div>
        </div>
        <div class="form-group">
            Product Description:
            <textarea formControlName="description" class="form-control"></textarea>
            <div class="invalid-box">
                <div *ngIf="_productForm['description'].errors?.['required'] && (_productForm['description'].touched || formSubmited)">
                    required
                </div>
                <div *ngIf="_productForm['description'].errors?.['maxlength']">
                    maximum length is 512 characters
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add Product</button>
        </div>
    </form>
</div>

<app-product-list [rtnP]="rtnProduct" [productData]="productData"></app-product-list>